@charset "UTF-8";

/*-------------------------- 全体 --------------------------*/

html {
    font-size: 100%;
}

body {
    color: #333;
    font-family:"Noto Serif JP", serif;
    font-weight: 400;
    font-size: 13px;
    background-color: #F5F5F0;
    letter-spacing: 0.1em;
    line-height: 1.7;
}

h2, h3 {
    font-family: "Hina Mincho", serif;
    font-weight: 400;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, button, .clickable {
cursor: pointer; 
}

.link_img {
    display: block;
    line-height: 0;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

/*-------------------------- 共通 --------------------------*/

.sp_br {
    display: none;
}

.wrapper {
    padding: 0 10%;
    margin: 0 auto;
}

.title {
    font-size: 18px;
    letter-spacing: 0.2em;
    color: #333;
    position: relative;
    text-align: center;
}

.title::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #8B8C87;
    display: block;
    margin: 8px auto 20px;
    transform: translateX(-2px)
}

.btn {
    background: transparent;
    color: #8B8C87;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    border: 1px solid;
    position: relative;
    transition: all 0.5s ease;
}

.btn:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "▶︎";
    font-size: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-M {
    width: 180px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-L {
    width: 260px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn_white {
    color: #fff;
}

.btn_white:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu {
    color: #fff;
}

/*-------------------------- 個別 --------------------------*/

#site-header {
    position: fixed;
    z-index: 80;
    width: 100%;
    height: auto;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#site-header .header_logo {
    width: 100%;
    max-width: 150px;
}

#site-header .navi .display {
    display: flex;
    align-items: center;
    width: 150px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
}

#site-header .navi .display .header_yoyaku {
    background-color: rgba(255, 255, 255, 0);
    color: inherit;
    display: block;
    padding: 4px 15px;
    border: 1px solid;
    transition: background-color 0.5s ease;
}

#site-header .navi .display .hamburger {
    width: 30px;
    height: 32px;
    position: relative;
    z-index: 100;
}

#site-header .navi .display .hamburger span {
    width: 30px;
    height: 3px;
    display: inline-block;
    position: absolute;
    background-color: currentColor;
    transition: transform 0.4s ease;
}

#site-header .navi .display .hamburger span:nth-last-of-type(1) {
    top: 10px;
}

#site-header .navi .display .hamburger span:nth-last-of-type(2) {
    bottom: 10px;
}

/*--- ヘッダー切り替え ---*/

.header_white {
    background-color: transparent;
    color: #fff;
}

.header_white .header_logo img {
    content: url(../img/common/logo_yoko_white.svg);
}

.header_white .navi .display .header_yoyaku:hover {
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.header_black {
    background-color: #F5F5F0;
    color: #0F141A;
}

.header_black .header_logo img {
    content: url(../img/common/logo_yoko.svg);
}

.header_black .navi .display .header_yoyaku:hover {
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/*---------------------*/

.header_menu {
    width: 100%;
    height: 80vh;
    min-height: 400px;
    background-color: #2F4F4F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 10% 15%;
    opacity: 0;
    visibility: hidden;
}

.header_menu .common-menu {
    height: 100%;
}

.header_menu .menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.header_menu .menu .menu_logo {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    min-height: 180px;
}

.header_menu .menu .menu_logo .shizukuishi {
    writing-mode: vertical-rl;
    font-family: "Hina Mincho", serif;
    font-size: 17px;
    letter-spacing: 0.4em;
    margin-left: 20px;
}

.header_menu .menu .menu_logo img {
    content: url(../img/common/logo_tate_white.svg);
    width: auto;
    height: 100%;
}

.header_menu .menu .menu_logo .alphabet {
    display: none;
}

.header_menu .menu .menu_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Hina Mincho", serif;
    font-size: 15px;
    height: 100%;
    min-height: 180px;
    row-gap: 8%;
}

.header_menu .menu .menu_list a {
    transition: all 0.4s ease;
}

.header_menu .menu .menu_list a:hover {
    transition: all 0.4s ease;
    color: rgba(255, 255, 255, 1);
}

.header_menu .menu .menu_list .list_top {
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_menu .menu .menu_list .list_bottom {
    height: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_menu .menu .menu_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 180px;
}

.header_menu .menu .menu_info .call a {
    font-family: "Hina Mincho", serif;
    font-size: 22px;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;;
}

.header_menu .menu .menu_info .call a span {
    vertical-align: 4px;
}

.header_menu .menu .menu_info .address {
    font-size: 15px;
    text-align: left;
}

/*--- メニュー開閉 ---*/

#site-header .navi .display .hamburger.active span:nth-last-of-type(1) {
    transform: rotate(-45deg);
    top: 10px;
    color: #fff;
}

#site-header .navi .display .hamburger.active span:nth-last-of-type(2) {
    transform: rotate(45deg);
    top: 10px;
    color: #fff
}

/*--------------------*/

.kv {
    position: relative;
    width: 100%;
    height: 90vh;
    margin-bottom: 200px;
}

.kv .kv_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.kv .kv_img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.5) 70%,
    rgba(0, 0, 0, 0) 100%
    );
    z-index: 60;
}

.kv .kv_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
    inset: 0;
}

.kv::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
    width: 1px;
    height: 20%;
    background: linear-gradient(
    to bottom,
    #ffffff 0 50%,
    #8B8C87 50% 100%
  );
  z-index: 65;
}

.kv .kv_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 70;
}

.kv .kv_title p {
    color: #fff;
    font-family: "Hina Mincho", serif;
    font-size: 20px;
    letter-spacing: 0.4em;
}

.footer_menu {
    width: 100%;
    height: 500px;
    padding: 65px 0;
    background-color: #2F4F4F;
}

.footer_menu .wrapper,
.footer_menu .wrapper .common-menu {
    height: 100%;
}

.footer_menu .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: space-between;
}

.footer_menu .menu .menu_logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: auto;
    height: 160px;
}

.footer_menu .menu .menu_logo .shizukuishi {
    font-family: "Hina Mincho", serif;
    font-size: 18px;
    letter-spacing: 0.4em;
}

.footer_menu .menu .menu_logo img {
    width: 280px;
}

.footer_menu .menu .menu_logo .alphabet {
    font-family: "Sorts Mill Goudy", serif;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.footer_menu .menu .menu_list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Hina Mincho", serif;
    font-size: 15px;
}

.footer_menu .menu .menu_list a {
    transition: all 0.4s ease;
}

.footer_menu .menu .menu_list a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer_menu .menu .menu_list .list_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 100px;
}

.footer_menu .menu .menu_list .list_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_menu .menu .menu_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer_menu .menu .menu_info .call a {
    font-family: "Hina Mincho", serif;
    font-size: 22px;
    font-feature-settings: "palt";
    letter-spacing: 0.1em;;
}

.footer_menu .menu .menu_info .call a span {
    vertical-align: 4px;
}

.footer_menu .menu .menu_info .address {
    font-size: 15px;
    text-align: left;
}

.copyright {
    background-color: #0F141A;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #fff;
    font-size: 10px;
}

/*---------------------------------------
スマートフォン
---------------------------------------*/

@media screen and (max-width: 767px) {

/*-------------------------- 全体 --------------------------*/

body {
    font-size: 10px;
}

/*-------------------------- 共通 --------------------------*/

.sp_br {
    display: block;
}

.title {
    font-size: 15px;
}

.title::after {
    content: "";
    width: 60px;
}

.btn {
    font-size: 13px;
}

.btn-M {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-L {
    width: 220px;
    padding-top: 14px;
    padding-bottom: 14px;
}

/*-------------------------- 個別 --------------------------*/

#site-header {
    padding: 5%;
}
    
#site-header .header_logo {
    max-width: 100px;
}

#site-header .navi .display {
    width: 90px;
    height: 20px;
}

#site-header .navi .display .header_yoyaku {
    padding: 3px 10px;
}

#site-header .navi .display .hamburger {
    width: 20px;
    height: 22px;
}

#site-header .navi .display .hamburger span {
    width: 20px;
    height: 2px;
}

#site-header .navi .display .hamburger span:nth-last-of-type(1) {
    top: 6px;
}

#site-header .navi .display .hamburger span:nth-last-of-type(2) {
    bottom: 6px;
}

.header_menu {
    height: 100vh;
    background-color: #2F4F4FF2;
    padding: 90px 0;
}

.header_menu .menu {
    flex-direction: column;
}

.header_menu .menu .menu_logo {
    justify-content: space-around;
    flex-direction: column;
    width: auto;
    height: 100px;
    min-height: auto;
    text-align: center;
}

.header_menu .menu .menu_logo .shizukuishi {
    writing-mode: horizontal-tb;
    font-size: 15px;
    margin-left: 0;
}

.header_menu .menu .menu_logo img {
    content: url(../img/common/logo_yoko_white.svg);
    width: 180px;
}

.header_menu .menu .menu_logo .alphabet {
    display: block;
    font-size: 10px;
}

.header_menu .menu .menu_list {
    row-gap: 0;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.8);
    height: auto;
    min-height: 0;
}

.header_menu .menu .menu_list li {
    margin-bottom: 5px;
}

.header_menu .menu .menu_list .list_top {
    height: auto;
    justify-content: flex-start;
}

.header_menu .menu .menu_list .list_bottom {
    height: auto;
    justify-content: flex-start;
}

.header_menu .menu .menu_info {
    height: 180px;
    align-items: center;
    text-align: center;
    min-height: 0;
}

.kv {
    margin-bottom: 150px;
}

.kv .kv_img img {
    object-position: 60% ;
}

.footer_menu {
    height: 750px;
}

.footer_menu .menu .menu_logo {
    height: 100px;
}

.footer_menu .menu .menu_logo .shizukuishi {
    font-size: 15px;
}

.footer_menu .menu .menu_logo img {
    width: 180px;
}

.footer_menu .menu .menu_logo .alphabet {
    font-size: 10px;
}

.footer_menu .menu .menu_list {
    flex-direction: column;
    row-gap: 0;
    font-size: 15px;
}

.footer_menu .menu .menu_list li {
    margin-bottom: 10px;
}

.footer_menu .menu .menu_list .list_top {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
}

.footer_menu .menu .menu_list .list_bottom {
    flex-direction: column;
    justify-content: flex-start;
}

.footer_menu .menu .menu_info {
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}

}